@import "extras/var";
@import "extras/mixins";

*{ 
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    background: white;
}

#load{
    @include centerItems();
    
    background: $back;    
    min-height: 100vh;
}